body {
	background-color: black;
	overflow: hidden;

	.test {
		background-color: white;
		margin-top: 300px;
		width: 200px;
		height: 200px;
	}

	h1 {
		font-size: 70px;
		color: red;
		background-color: purple;
	}
}

