extends layout/template

block vars
	- var pageTemplate = 'index'; // page-specific var
	- var pageName = 'Акции';
	- var pageLink = 'action'

block head
	script(src="/js/main.bundle.js")

block content
	include layout/blocks/header
	include layout/blocks/menu
	include layout/blocks/title
	include layout/blocks/footer
	include layout/blocks/modal
	.overlay.js-overlay