extends layout/template

block vars
	- var pageTemplate = 'index'; // page-specific var

block head
	script(src="/js/main.bundle.js")


block content
	include layout/blocks/header
	include layout/blocks/products
	include layout/blocks/articles
	include layout/blocks/footer
	include layout/blocks/modal
	.overlay.js-overlay