.advan.mobile-hide
    .container
        .advan__content

            .advan__item
                .advan__item__img
                    img(src="../img/advan1.png")
                span.advan__item__text Тест драйв
            .advan__item
                .advan__item__img
                    img(src="../img/advan2.png")
                span.advan__item__text Traid in

            .advan__item
                .advan__item__img
                    img(src="../img/advan3.png")
                span.advan__item__text Кредит

            .advan__item
                .advan__item__img
                    img(src="../img/advan4.png")
                span.advan__item__text Страховка
