.articles
    .container
        .articles__content
            .articles__scheme
                .articles__scheme-img
                    img(src='img/scheme-pic1.png')
                    br
                    strong PRO PLAN#[sup &reg;] JUNIOR
                .articles__scheme-img
                    img(src='img/plus.png')
                .articles__scheme-img
                    img(src='img/scheme-pic2.png')
                    br
                    strong PRO PLAN#[sup &reg;] #[br]JUNIOR NUTRISAVOUR#[sup &reg;]

            .articles__art.articles__important
                .articles__art-label.articles__important-label Это важно
                .articles__art-text.articles__important-text
                    strong Сочетание сухого и влажного кормов в рационе котенка
                    span Сочетание сухого и влажного кормов в рационе котенка укрепляет здоровье, положительно влияет на нормальную работу пищеварительной и мочевыделительной систем, а также обеспечивает разнообразие в питании.

            .articles__art.articles__sterelize
                .articles__art-label.articles__sterelize-label Стерелизация
                .articles__art-img.articles__sterelize-img
                    img(src='img/art-1.png')
                .articles__art-text.articles__sterelize-text
                    strong Кастрация или стерилизация: в чем разница?
                    span Многие владельцы убеждены, что термин «кастрация» относится только к котам, а «стерилизация» — к кошкам.

            .articles__art.articles__sterelize-full
                .articles__art-label.articles__sterelize-full-label Стерелизация
                .articles__art-text.articles__sterelize-full-text
                    strong Чтo нужно знать владельцу кастрированного или стерилизованного кота и кошки?
                    span Станет ли кот мстить хозяевам? Наберет ли питомец лишний вес? Заболеет ли мочекаменной болезнью? Узнайте ответ на самые часто задаваемые и тревожные вопросы о последствиях кастрации и стерилизации питомцев.
                .articles__art-img.articles__sterelize-full-img
                    img(src='img/art-3.png')

            .articles__art.articles__diet
                .articles__art-label.articles__diet-label Диетология
                .articles__art-text.articles__diet-text
                    strong Принципы питания кастрированных и стерилизованных котов и кошек
                    span Кастрация и стерилизация существенно влияют на питомца. Для того чтобы поддержать здоровье кота и кошки, следует предложить им корм, состав которого соответствует новым потребностям животного.
