.article
    .container
        .for-scheme
            .scheme
                .big-pic
                    img(src='img/article-big-pic.png')
                    strong PRO PLAN#[sup &reg;] JUNIOR
                .plus
                    img(src='img/plus.png')
                .small-pic
                    img(src='img/article-small-pic.png')
                    strong PRO PLAN#[sup &reg;]#[br] JUNIOR NUTRISAVOUR#[sup &reg;]
            .attention
                strong  Сочетание сухого и влажного кормов в рационе котенка
                span Сочетание сухого и влажного кормов в рационе котенка укрепляет здоровье, положительно влияет на нормальную работу пищеварительной и мочевыделительной систем, а также обеспечивает разнообразие в питании.
                .label Это важно
        .article-block
            .sterelize.art.horizontal
                .for-img
                    img(src='img/sterelize.png')
                .for-text
                    strong Кастрация или стерилизация: в чем разница?
                    span Многие владельцы убеждены, что термин «кастрация» относится только к котам, а «стерилизация» — к кошкам.
                .label Стерилизация

            .diet.art.vertical
                .for-img
                    img(src='img/dieta.png')
                .for-text
                    strong Принципы питания кастрированных и стерилизованных котов и кошек
                    span Кастрация и стерилизация существенно влияют на питомца. Для того чтобы поддержать здоровье кота и кошки, следует предложить им корм, состав которого соответствует новым потребностям животного.
                .label Диетология

            .sterelize-full.art.vertical
                .for-img
                    img(src='img/sterlize-full.png')
                .for-text
                    strong Что нужно знать владельцу кастрированного или стерилизованного кота и кошки?
                    span Станет ли кот мстить хозяевам? Наберет ли питомец лишний вес? Заболеет ли мочекаменной болезнью? Узнайте ответ на самые часто задаваемые и тревожные вопросы о последствиях кастрации и стерилизации питомцев.
                    .label Стерилизация
