.article
    .container
        .article-content
            .scheme
                .for-img
                    img(src='img/scheme-pic1.png')
                    br
                    strong PRO PLAN#[sup &reg;] JUNIOR
                .for-img
                    img(src='img/plus.png')
                .for-img
                    img(src='img/scheme-pic2.png')
                    br
                    strong PRO PLAN#[sup &reg;] #[br]JUNIOR NUTRISAVOUR#[sup &reg;]

            .important.art
                .label
                    | Это важно
                .for-text
                    strong Сочетание сухого и влажного кормов в рационе котенка
                    span Сочетание сухого и влажного кормов в рационе котенка укрепляет здоровье, положительно влияет на нормальную работу пищеварительной и мочевыделительной систем, а также обеспечивает разнообразие в питании.

            .sterelize.art
                .label Стерелизация
                .for-img
                    img(src='img/art-1.png')
                .for-text
                    strong Кастрация или стерилизация: в чем разница?
                    span Многие владельцы убеждены, что термин «кастрация» относится только к котам, а «стерилизация» — к кошкам.

            //.diet.art
                .label Диетология
                .for-text
                    strong Принципы питания кастрированных и стерилизованных котов и кошек
                    span Кастрация и стерилизация существенно влияют на питомца. Для того чтобы поддержать здоровье кота и кошки, следует предложить им корм, состав которого соответствует новым потребностям животного.

            .sterelize-full.art
                .label Стерелизация
                .for-text
                    strong Чтo нужно знать владельцу кастрированного или стерилизованного кота и кошки?
                    span Станет ли кот мстить хозяевам? Наберет ли питомец лишний вес? Заболеет ли мочекаменной болезнью? Узнайте ответ на самые часто задаваемые и тревожные вопросы о последствиях кастрации и стерилизации питомцев.
                .for-img
                    img(src='img/art-3.png')

            .diet.art
                .label Диетология
                .for-text
                    strong Принципы питания кастрированных и стерилизованных котов и кошек
                    span Кастрация и стерилизация существенно влияют на питомца. Для того чтобы поддержать здоровье кота и кошки, следует предложить им корм, состав которого соответствует новым потребностям животного.
