.footer
    .container
            .links-group
                a.vk(href='vk.com')
                a.fb(href='facebook.com')
            .footer-logo
                a.f-logo(href='#')
                    img(src='img/footer-logo.png')