.footer
    .container
        .footer__content
            .footer__left
                .footer__links
                    a(href="#").footer__link.mobile-hide Правовая информация
                    a(href="#").footer__link My Renault
                    a(href="#").footer__link Renault assistance

                .footer__text
                    span 1995-2017 (c) Петровский автоцентр - официальный дилер Renault в Москве и Санкт-Петербурге

            .footer__right
                a(href='#' data-popup="callback-popup").btn-yellow-transparent.js-open-popup Обратная связь