.footer
	.container
		.footer__links-group
			a.footer__link-vk(href='vk.com')
			a.footer__link-fb(href='facebook.com')
		.footer__logo
			a.footer__logo-link(href='#')
				img(src='img/footer-logo.png')