.header
    .container
        .header-bar
            a.logo-link(href='#')
                img(src='../img/logo.png')
            .for-btn
                a.popup-link(href='#')
                    |Регистрация
            .mobile-button.mobile-show
                span
                span
                span
.menu
    .container
        ul.navbar
            li
                a(href='#articles') Статьи
            li
                a(href='#clinics') Наши клиники
            li
                a(href='#food') Корма
            li
                a(href='#action') Акции
            li
                a(href='#sudents') Студентам

.main-banner
    .container
        .banner-content
            .cat
            .text-cont
                h1
                    span.black  PRO PLAN#[sup &reg;]
                    span.red  NUTRISAVOUR#[sup &reg;]
                h4
                    | Это оптимальное сочетание пользы и вкуса

                p
                    strong В линейке NUTRISAVOUR#[sup &reg;] вы найдете все многообразие влажных кормов для вашего питомца, в зависимости от его особых потребностей, возраста и условий содержания.
                p  PRO PLAN#[sup &reg;] NUTRISAVOUR#[sup &reg;] это нежные кусочки в желе и кусочки гриль в соусе
                p Узнайте больше про обновленную линейку влажных кормов PRO PLAN#[sup &reg;] NUTRISAVOUR#[sup &reg;]!
    .sticker
        span
            | Оптимальное сочетание пользы и вкуса

.collection
    .middle-line
    .container
        .collection-pic

