.header
    .container
        .header__bar
            .header__mobile-button.mobile-show.js-header-mobile-button
                span
                span
                span
            a.header__logo-link(href='/')
                img(src='../img/logo.png')
            .header__btn
                a.header__popup-link.js-popup-link(href='#')
                    |Регистрация



