.header
    .container
        .header__bar
            .header__mobile-button.mobile-show.js-header-mobile-button
                span
                span
                span
            a.header__logo-link(href='#')
                img(src='../img/logo.png')
            .header__for-btn
                a.header__popup-link.js-popup-link(href='#')
                    |Регистрация

.menu
    .container
        ul.menu__navbar
            li.menu__navbar-item
                a(href='#articles') Статьи
            li.menu__navbar-item
                a(href='#clinics') Наши клиники
            li.menu__navbar-item
                a(href='#food') Корма
            li.menu__navbar-item
                a(href='#action') Акции
            li.menu__navbar-item
                a(href='#sudents') Студентам

.main-banner
    .container
        .main-banner__content
            .main-banner__text-cont
                h1
                    span.black  PRO PLAN#[sup &reg;]
                    span.red  NUTRISAVOUR#[sup &reg;]
                h4
                    | Это оптимальное сочетание пользы и вкуса
                p
                    strong В линейке NUTRISAVOUR#[sup &reg;] вы найдете все многообразие влажных кормов для вашего питомца, в зависимости от его особых потребностей, возраста и условий содержания.
                p  PRO PLAN#[sup &reg;] NUTRISAVOUR#[sup &reg;] это нежные кусочки в желе и кусочки гриль в соусе
                p Узнайте больше про обновленную линейку влажных кормов PRO PLAN#[sup &reg;] NUTRISAVOUR#[sup &reg;]!
    .main-banner__sticker
        span
            | Оптимальное сочетание пользы и вкуса

.collection
    .collection__middle-line
    .container
        .collection__pic

