section.learning
	.learning__row.js-stringDigits
		h3 Разделение по разрядам:
		input.js-input(type='text' data-method="digits")
		div.js-result

	.learning__row.js-stringCut
		h3 Прерывание строки:
		input.js-input(type='text' data-method="cut")
		div.js-result

	.learning__row.js-stringDeclension
		h3 Склонение:
		input.js-input(type='text' data-method="declension")
		div.js-result

	.learning__row.js-stringToText
		h3 Пропись:
		input.js-input(type='text' data-method="toText" maxlength='9')
		div.js-result