section.learning
	.learning__row.js-stringDigits
		h3 Разделение по разрядам:
		input.learning__input.js-input(type='number' data-method="digits" )
		div.learning__result.js-digitResult

	.learning__row.js-stringCut
		h3 Прерывание строки:
		input.learning__input.js-input(type='text' data-method="cut")
		div.learning__result.js-cutResult

	.learning__row.js-stringDeclension
		h3 Склонение:
		input.learning__input.js-input(type='number' data-method="declension")
		div.learning__result.js-declensionResult

	.learning__row.js-stringToText
		h3 Пропись:
		input.learning__input.js-input(type='number' data-method="toText")
		div.learning__result.js-toTextResult