.menu
    .container
        .menu__content
            .menu__renault
                img(src="../img/renault.png" title="Renault")

            .menu__logo
                img(src="../img/logo.png" title="Петровский автоцентр")

            .menu__text.mobile-hide
                strong ПЕТРОВСКИЙ АВТОЦЕНТР
                span Официальный дилер Renault в&nbsp;Санкт&#8209;Петербурге и&nbsp;Москве

            .menu__phone
                .menu__phone__num
                    span (812) 702-11-11
                    a(href="#" data-popup="callback-popup").menu__phone__link.mobile-hide.js-open-popup Заказать обратный звонок

