.modal.js-modal.form-active
	.modal__form
		h4.modal__title Регистрация
		form.form.form__modal.form__reg.js-form
			.form__row
				label.form__label.js-form-label(for='login') Имя пользователя
				input.form__input.js-form-input(type='text' id='login' name='login')
			.form__row
				label.form__label.js-form-label(for='pass') Пароль
				input.form__input.js-form-input(type='password' id='pass' name='pass')
			.form__btn
				input.modal__submit-btn.js-form-submit-btn(type='button' value="Отправить" )
	.modal__resault
		h4.modal__title Регистрация успешна.