.modal
    h4.title Регистрация
    form.reg-form
        .for-input
            label(for='login') Имя пользователя
            input(type='text' id='login' name='login')
        .for-input
            label(for='pass') Пароль
            input(type='password' id='pass' name='pass')
        .for-btn
            input(type='submit' class='sub-btn' value="Отправить" )