.modal.js-modal.form-active
	.modal__form-container
		h4.modal__title Регистрация
		form.modal__reg-form.js-form
			.modal__for-row
				label.modal__for-row-label.js-form-label(for='login') Имя пользователя
				input.modal__for-row-input.js-form-input(type='text' id='login' name='login')
			.modal__for-row
				label.modal__for-row-label.js-form-label(for='pass') Пароль
				input.modal__for-row-input.js-form-input(type='password' id='pass' name='pass')
			.modal__for-btn
				input.modal__submit-btn.js-form-submit-btn(type='button' value="Отправить" )
	.modal__resault-container
		h4.modal__title Регистрация успешна.