.models.mobile-hide
    .container
        .models__content
            h2.models__title Обзоры моделей
            .models__block
                ul.models__list
                    li.models__list__item
                        a(href="#" data-video="XvHQNGO4pI4").models__list__link.js-video-tabs.is-active Koleos
                    li.models__list__item
                        a(href="#" data-video="9v7si_GYwjs").models__list__link.js-video-tabs Kaptur
                    li.models__list__item
                        a(href="#" data-video="TzvydcYdGEo").models__list__link.js-video-tabs Duster
                    li.models__list__item
                        a(href="#" data-video="VPU13uuEKUg").models__list__link.js-video-tabs Sandero
                    li.models__list__item
                        a(href="#" data-video="7U6i-nP-KA4").models__list__link.js-video-tabs Stepway
                    li.models__list__item
                        a(href="#" data-video="6glCpmPpyMU").models__list__link.js-video-tabs Logan
                .models__video
                    iframe(width="694" height="391" src="https://www.youtube.com/embed/XvHQNGO4pI4" frameborder="0" allowfullscreen).models__video__item#video