block vars
    - var products = ['Junior', 'Delicate', 'Sterelised', 'Adult', 'Housecat'];
.tabs
    .container
        ul.tabs__list.js-tabs-list
            li.tabs__list-item.js-tab-link.is-active(data-link='Junior')
                strong Pro Plan#[sup &reg;] Junior#[sup &reg;]
                span  Для котят
            li.tabs__list-item.js-tab-link(data-link='Delicate')
                strong Pro Plan#[sup &reg;]  Delicate#[sup &reg;]
                span  Для чувствительного пищеварения
            li.tabs__list-item.js-tab-link(data-link='Sterelised')
                strong Pro Plan#[sup &reg;] Sterelised#[sup &reg;]
                span  Для стерилизованных кошек
            li.tabs__list-item.js-tab-link(data-link='Adult')
                strong Pro Plan#[sup &reg;] Adult#[sup &reg;]
                span  Для взрослых кошек
            li.tabs__list-item.js-tab-link(data-link='Housecat')
                strong Pro Plan#[sup &reg;] Housecat#[sup &reg;]
                span  Для домашних кошек

.products
    .container
        .products__tabs-content.js-tabs-content
            - for (var x=0; x < products.length; x++)
            div(class= "" + x == 0 ? 'products__tab js-tab is-active' : 'products__tab js-tab' + "" data-link="" + products[x] + "")
                .products__view-product
                    h4 PRO PLAN#[sup &reg;] #{products[x]}#[sup &reg;] — это полнорационный влажный корм для котят
                    .products__for-img
                        img(src='../img/product2.png')
                        img(src='../img/product1.png')
                .products__about-product
                    p Вкусные кусочки курицы в желе и кусочки гриль  в соусе разработаны специально для растущего организма котят и рекомендованы для беременных  и кормящих кошек.
                    p PRO PLAN#[sup &reg;] #{products[x]}#[sup &reg;] обеспечивает все потребности организма котенка и является надежной основой для здорового старта.
                    .products__advans
                        .products__advan
                            .products__for-img
                                img(src='img/advan1.png')
                            .products__for-text
                                strong Способствует развитию жизненно важных функций
                                span Наличие всех необходимых питательных веществ обеспечивает сбалансированное питание
                        .products__advan
                            .products__for-img
                                img(src='img/advan2.png')
                            .products__for-text
                                strong Влияет на развитие мозга
                                span Полиненасыщенные кислоты поддерживают здоровое развитие мозга и зрения
                        .products__advan
                            .products__for-img
                                img(src='img/advan3.png')
                            .products__for-text
                                strong Формирует костную и мышечную массу
                                span Высококачественный белок обеспечивает здоровое развитие костей и мышц
                        .products__advan
                            .products__for-img
                                img(src='img/advan4.png')
                            .products__for-text
                                strong Обладает прекрасной формой и вкусом
                                span Специально разработанные для котят нежные кусочки, которые легко жевать