.sale
    .container
        .sale__content
            h2.sale__title Скидка на весь модельный&nbsp;ряд
            .sale__item
                .sale__item__img
                    img(src="../img/koleos.png")
                .sale__item__title
                    span Koleos 2017
                a(href="#" data-popup='sale-popup').sale__item__btn.btn-transparent.js-open-popup  Получить предложение
            .sale__item
                .sale__item__img
                    img(src="../img/kaptur.png")
                .sale__item__title
                    span Kaptur
                a(href="#" data-popup='sale-popup').sale__item__btn.btn-transparent.js-open-popup  Получить предложение

            .sale__item
                .sale__item__img
                    img(src="../img/duster.png")
                .sale__item__title
                    span Duster
                a(href="#" data-popup='sale-popup').sale__item__btn.btn-transparent.js-open-popup  Получить предложение

            .sale__item
                .sale__item__img
                    img(src="../img/sandero.png")
                .sale__item__title
                    span Sandero
                a(href="#" data-popup='sale-popup').sale__item__btn.btn-transparent.js-open-popup  Получить предложение

            .sale__item
                .sale__item__img
                    img(src="../img/stepway.png")
                .sale__item__title
                    span Sandero stepway
                a(href="#" data-popup='sale-popup').sale__item__btn.btn-transparent.js-open-popup  Получить предложение

            .sale__item
                .sale__item__img
                    img(src="../img/logan.png")
                .sale__item__title
                    span Logan
                a(href="#" data-popup='sale-popup').sale__item__btn.btn-transparent.js-open-popup  Получить предложение

            .sale__item
                .sale__item__img
                    img(src="../img/dokker.png")
                .sale__item__title
                    span Dokker
                a(href="#" data-popup='sale-popup').sale__item__btn.btn-transparent.js-open-popup  Получить предложение