@font-face {
	font-family: RenaultLife;
	src: url(../fonts/RenaultLifeCyWebWeb-Bold.ttf);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: RenaultLife;
	src: url(../fonts/RenaultLifeCyWebWeb-BoldItalic.ttf);
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: RenaultLife;
	src: url(../fonts/RenaultLifeCyWebWeb-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: RenaultLife;
	src: url(../fonts/RenaultLifeCyWebWeb-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: RenaultLife;
	src: url(../fonts/RenaultLifeCyWebWeb-Light.ttf);
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: RenaultLife;
	src: url(../fonts/RenaultLifeCyWebWeb-LightItalic.ttf);
	font-weight: 200;
	font-style: italic;
}

