
// Breakpoints
$mobile-breakpoint: 640px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1360px;

// Media
$mobile: "screen and (max-width: 1024px)";
$tablet: "screen and (min-width: 1025px) and (max-width: 1024px)";
$desktop: "screen and (min-width: 1360px)";

// Color
$text-color: #1a1718;
$active-color: #ed1d25;


@include sgs-change('debug', true);
@include add-grid(8);
@include add-grid(12 at 1024px);
@include add-grid(16 at 1360px);
@include add-gutter(1/3);
@include add-gutter-style('split');
@include sgs-change('output', 'float');

* {
  @include box-sizing(border-box);
}

.wrapper {

}

.container {
    margin: 0 auto;
    max-width: 100%;
    @media #{$mobile} {
      min-width: 605px;
    }
    @media #{$tablet} {
      min-width: 922px;
    }
    @media #{$desktop} {
      min-width: 1260px;
    }
    //@include background-grid($color: green);
    overflow: hidden;
}

.mobile-show {
  display: none;
  @media #{$mobile} {
    display: block;
  }
}

.tablet-show {
  display: none;
  @media #{$tablet} {
    display: block;
  }
}

.desktop-show {
  display: none;
  @media #{$desktop} {
    display: block;
  }
}

a {
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  z-index: 99;
}

.show-menu {
  .overlay {
    display: block;
    @include breakpoint($tablet-breakpoint) {
      display: none;
    }
  }
  .menu {
    display: block;
    width: 50%;
    @include breakpoint($tablet-breakpoint) {
      width: 100%;
    }
  }
  .header-bar {
    .mobile-button {
      position: fixed;
      left: 50%;
      span {
        background: #fff;
      }
    }
  }

}